/* Styles for screens with a maximum width of 600px */
@media (max-width: 1080px) {
    body {
        font-size: 15px;
        background-color: rgb(19, 127, 127);
    }
}

body {
    background-color: burlywood;
}

header {
    /* background-color: hotpink; */
    height: fit-content;
    font-family: fantasy;
    /* border: 1px; */
    /* color: white border 2px solid; */
    padding: 10px;
    text-align: left;
}

footer {
    /* background-color: beige; */
    font-size: 16px;
    font-family: fantasy;
    justify-items: center;
    text-align: center;
    border: 1px solid white;
    border-radius: 12px;
}

label {
    border: 1px solid white;
    background-color: cadetblue;
    font-size: 25px;
    padding: 4px;
    border-radius: 12px;
    color: black;
    font-family: fantasy;
    width: 100px;
    height: fit-content;
    font-weight: bold;
    text-decoration: wavy;
}

.form1 {
    background-color: transparent;
    width: fit-content;
    padding: 10px;
    text-align: center;
    margin-left: 20px;
    font-size: 30px;
    /* border: 2px solid white; */
    border-radius: 12px;
}

.form2 {
    max-width: 350px;
    padding: 5px;
    text-align: center;
    margin-left: 20px;
    font-size: 20px;
    border-radius: 12px;
}

input {
    border-radius: 20px;
    background-color: rgb(201, 206, 206);
    width: 400px;
    height: 50px;
    font-family: fantasy;
    /* border: 2px solid white; */
}

a,
span {
    font-size: 20px;
    padding: 4px;
    border-radius: 12px;
    color: darkblue;
    justify-items: left;
    font-weight: bolder;
    font-family: fantasy;
    text-decoration: none;
}

hr {
    background-color: darkkhaki;
    border: 2px;
}

.button,
button {
    background-color: cadetblue;
    font-size: 18px;
    font-family: fantasy;
    height: max-content;
    width: fit-content;
    padding: 5px;
    border-radius: 12px;
    color: aliceblue;
}

.button1 {
    background-color: darkcyan;
    font-size: 18px;
    font-family: fantasy;
    height: max-content;
    width: fit-content;
    padding: 5px;
    border-radius: 12px;
    color: aliceblue;
}

.button2 {
    background-color: rgb(200, 200, 48);
    font-size: 24px;
    font-family: fantasy;
    height: max-content;
    width: 150px;
    padding: 5px;
    border-radius: 12px;
    color: aliceblue;
}

.button4 {
    background-color: orange;
    font-size: 12px;
    font-family: fantasy;
    height: fit-content;
    width: 220px;
    padding: 5px;
    border-radius: 12px;
    color: aliceblue;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: fantasy;
    color: rgb(222, 136, 23);
    background-size: auto;
    width: fit-content;
    font-style: italic;
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    /* text-decoration: underline; */
    margin-left: 120px;
}


textarea {
    background-color: rgb(201, 206, 206);
    border-radius: 20px;
    width: 400px;
    /* border: 2px solid white; */
    font-family: fantasy;
}

.button3 {
    font-size: larger;
    font-family: fantasy;
    background-color: burlywood;
    width: 150px;
    font-style: oblique;
}

.logout {
    font-size: 25px;
    font-family: fantasy;
    color: blueviolet;
    margin-left: 50px;
}

.register {
    /* border: 3px solid darkorange; */
    padding: 10px;
    background-color: pink;
}

.indexmenu {
    padding: 25px;
}

.loginform {
    /* border: 3px solid darkorange; */
    padding: 10px;
    background-color: pink;
}

.menu2 {
    margin-left: 30px;
}

.usernamedisplay {

    font-size: 30px;
    font-family: fantasy;
    color: azure;
    width: fit-content;
    padding: 5px;
}

.asideBar {
    /* display: flex; */
    width: 600px;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: darkgoldenrod;
    font-size: 20px;
    display: flex;
}

ul,
li {
    padding: 10px;
    text-align: center;
}

.contentDiv {
    /* border: 2px solid white; */
    border-radius: 12px;
    width: 300px;
    height: fit-content;
    padding: 15px;
    font-size: x-large;
}

::placeholder {
    font-size: 30px;
    text-align: center;
    color: rgb(175, 14, 35);
}

.headerDiv {
    display: flex;
    /* border: 1px solid white; */
    border-radius: 28px;
    width: fit-content;
    height: 250px;
    background-color: rgb(210, 169, 88);
    padding: 15px;
    align-items: center;
    text-align: center;
    margin-left: 150px;
}